@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
	src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
body{
    font-size:100%;
    font-family: IRANSans, 'Open Sans', sans-serif;
	background-color:#000:
}
/****** navbar  **/

.navbar-default
{
    background-color: #fff;
    border-color:rgba(231,231,231,0.33);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover
{
     color :#354242;
    background-color: #fff;
}

.navbar-nav{
    padding-top: 5px;
}

.navbar{
    min-height:inherit;
    margin-bottom:0px;
}

.img1{
    padding:10px 55px 0 5px ;
	margin:0 0 10px 0;
}

.img2 a{
	display:inline;
}

.img2{
    padding:14px 0 0 0 ;
	display:inline;
}

.navbar-default .navbar-nav >li >a{
    color:#000;
    margin:0 10px;
    padding:3px 40px;
	box-sizing:border-box;
    font-size:14px;
	border-left:1px solid #333;
	margin:0;
}

.img-section{
	position:relative;
	width:100%;
	height:665px;
}

.main{
	position: absolute;
	top: 365px;
	right: 0;
}

.boxS{
	background-color:#000;
	position: absolute;
	top: 365px;
	right: 0;
	width:100%;
	height: 300px;
	Opacity:0.6;
}

.box1{
	background-color:#000;
	height:50px;
	margin:0 83px 0 0;
}

.daier1{
	width:80px;
	height:80px;
	background-color:#000;
	border-radius:50% 50%;
	position: absolute;
	bottom: 11px;
	right: 70px;
}

.daier1 img{
	width:60px;
	height:60px;
	border-radius:50% 50%;
}

.section1{
	width:100%;
	background-color:#f5f5f5;
	text-align:center;
	padding:30px 0 30px 0;
	box-sizing:border-box;
}



.text1 h2{
	font-size:16px;
	color: #aaa;
    font-weight: 600;
}

.para{
	font-weight: 600;
	font-size:16px;
	color:#646464;
    padding:0 0 30px 0;
}

.para p{
	margin:3px 0 0 0;
}


.swiper-container {
  
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider{
	background-color:#fff;
	padding: 15px 0 0 0;
}

#slider{
	width:86%;
	height:260px;
	position:relative;
	margin:20px auto;
	overflow:hidden;
	box-shadow:0 0 7px #333;
	padding:0;
}

#slider img{
	width:100%;
}

.slide{
	display:none;
}

.slide.active{
	display:block;
}

.text{
	color:#fff;
	position:absolute;
	bottom:20px;
	text-align:center;
	width:100%;
}

.prev,.next{
	color:#fff;
	text-decoration:none;
	font-size:40px;
	position:absolute;
	top:50%;
	transform: translate(0,-50%);
}

.prev{
	right:5px;
}

.next{
	left:5px;
}

#dots{
	text-align:center;
}

.dot{
	display:inline-block;
	width:9px;
	height:9px;
	border-radius:50%;
	background-color:#fff;
	border: 1px solid #8e8e94;
}

.dot.active{
	background-color: orange;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.images{
    background-color:#000;
    width:100%;
    height:500px;
}

.text-images{
    background-color:#f5f5f5;
    height:650px;
}

.maten{
    padding:12px 0 25px 0;
}

.maten h2{
    font-size:35px;
    font-weight:900;
    padding:0 0 10px 0;
    color:#646464;
}

.maten span{
    font-size:20px;
    color:#aaa;
}

.image1{
    height:500px;
    background-color:#f5f5f5;
}

.image1 img{
    width:100%;
    height:100%;
    padding:0 0 0 12px ;
    box-sizing:border-box;
}

.image2{
    height:250px;
    background-color:#f5f5f5;
}

.image2 img{
    width:100%;
    height:100%;
    padding:0 10px 10px 10px ;
    box-sizing:border-box;
}

.image3{
    height:250px;
    background-color:#f5f5f5;
}

.image3 img{
    width:100%;
    height:100%;
    padding:0 10px 10px 0 ;
    box-sizing:border-box;
}

.image4{
    height:250px;
    background-color:#f5f5f5;
}

.image4 img{
    width:100%;
    height:100%;
    padding:10px 10px 0 10px ;
    box-sizing:border-box;
}

.image5{
    height:250px;
    background-color:#f5f5f5;
}

.image5 img{
    width:100%;
    padding:10px 10px 0 0 ;
    box-sizing:border-box;
    height:100%;
}